.whyus {
    .banner {
        width: 100%;
        height: 350px;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     width: 100%;
        //     height: 10vh;
        //     background: linear-gradient(to top, $bg-section, transparent);
        // }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}

.data {
    h2 {
        &.content {
            font-family: 'jost', sans-serif;
            font-size: 3rem;
            color: $color-primary;
            text-align: center;
        }
    }
}