.whyus {
    .banner {
        width: 100%;
        height: 350px;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     width: 100%;
        //     height: 10vh;
        //     background: linear-gradient(to top, $bg-section, transparent);
        // }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .usp {
        position: relative;
        margin: 0 auto 32px;
        display: block;
        text-align: center;
        .rectanglex {
            width: 30%;
            text-align: left;
            @media screen and (max-width:768px) {
                width: 90%;
            }
            &__right {
                width: 75%;
            }
        }
    }

}

.data {
    h2 {
        &.content {
            font-family: 'jost', sans-serif;
            font-size: 3rem;
            color: $color-primary;
            text-align: center;
        }
    }
}